/* Styles pour les écrans de petite taille (par exemple, smartphones) */
@media (max-width: 767px) {
    .contact-container {
        padding: 10px;
    }

    .contact-form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}

/* Styles pour les écrans de taille moyenne et grande (par exemple, tablettes et ordinateurs) */
@media (min-width: 768px) {
    .contact-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .contact-form {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 95%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
}
