{% extends "Database/Base_html.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Database/styles/style_hom.css' %}">
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <div class="container">
    <!-- Showcase -->
    <header class="showcase">
      <h2>Waouh monde</h2>
      <p>
        
        Dans l'univers de
        la technologie
        avec élégance et
        expertise

      </p>
      <a href="waouh" class="btn">
        Shop Now <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <!-- Home cards 1 -->
    <section class="home-cards">
      <div>
        <img src="{% static 'Database/images/monde.jpg' %}" alt="">
        <h3>Formation</h3>
        <p>
          Grâce au partenariat OpenClassrooms-Waouh Monde et son programme spécial Afrique de l’Ouest, vous pouvez désormais suivre de multiples formations 
          certifiantes dans divers domaines pendant 12 mois à un prix forfaitaire de 55.000 FCFA.
        </p>
        <a href="https://openclassrooms.waouhmonde.com/">Learn More <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="{% static 'Database/images/cahier.jpg' %}" alt="" />
        <h3>Le cahier de charges</h3>
        <p>
          En matière de développement logiciel, le cahier de charges occupe une place primordiale. En effet, il constitue le socle sur lequel repose toute la conception et la réalisation d’une application informatique. Le cahier de charges permet aux équipes techniques et fonctionnelles d’avoir une vision claire des 
          attentes du client et des objectifs à atteindre lors du processus de développement.
        </p>
        <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="{% static 'Database/images/talent.png' %}" alt="" />
        <h3>Deuxième édition WaouhTalent</h3>
        <p>
          Développer ses talents avec WaouhTalent :

          WaouhTalent est bien plus qu’un simple
          programme de formation dans les domaines du numérique. 
          C’est une expérience unique conçue spécialement pour ceux qui aspirent à
           repousser leurs limites et à exceller dans leur domaine. Notre objectif 
           ? Faire éclore votre potentiel caché et faire ressortir le guerrier du numérique qui sommeille en vous.

        </p>
        <a href="https://waouhmonde.com/nos-publications/">Learn More <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="{% static 'Database/images/talent.png' %}" alt="" />
        <h3>CARE INTERNATIONAL BENIN/TOGO</h3>
        <p>
          Notre activité a consisté à développer une plateforme web plateforme
           web et mobile capitalisation des programmes de gouvernance de la DDC.
        </p>
        <a href="https://waouhmonde.com/nos-publications/">Learn More <i class="fas fa-chevron-right"></i></a>
      </div>
    </section>


    <!-- Home cards 2 -->
			<section class="home-cards">
				<div>
					<img src="{% static 'Database/images/talent.png' %}" alt="" />
					<h3>Plateforme de gestion pour cabinet d’avocats</h3>
					<p>
            Prunelle est une solution 
            de gestion qui offre une vue globale des activités du cabinet. Il intègre la gestion des dossiers, le suivi de la clientèle, une bibliothèque dynamique de données, la planification du temps (agenda).

					</p>
					<a href="https://waouhmonde.com/nos-publications/">Shop Now <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="{% static 'Database/images/talent.png' %}" alt="" />
					<h3>Gestion foncière</h3>
					<p>
						Logiciel de gestion complète des activités d’une commune. 
            Il intègre la numérisation du cadastre, l’identification des présumés propriétaires terriens,
             la numérisation des actes fonciers, le suivi des transactions foncières, 
             la mise en place de la base de données des présumés propriétaires terriens, 
            la génération d’actes fonciers, la sécurisation des recettes foncières. 
					</p>
					<a href="https://waouhmonde.com/nos-publications/">Shop Now <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="{% static 'Database/images/talent.png' %}" alt="" />
					<h3>Application de gestion complète des ventes sur les parcs automobiles</h3>
					<p>
          « Flashcar » est une application web et mobile
          conçue par nos soins pour régler les problèmes 
          requérants liés à la gestion des ventes de voitures
            d’occasion sur un parc auto. Elle s’occupe du suivi du manifeste,
            de la gestion du stock, du suivi de la maintenance, de la gestion des 
            finances et des privilèges, de la gestion du personnel.

					</p>
					<a href="https://waouhmonde.com/nos-publications/">Download Now <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="{% static 'Database/images/talent.png' %}" alt="" />
					<h3>Application de gestion pour ferme avicole et plateforme de données statistiques</h3>
					<p>
        Cette application de gestion avicole
        inclut les fonctionnalités de base à savoir : Gestion
          des lots/bandes de volailles, la gestion de l’alimentation
          (provende, eau, traitement), la gestion des œufs, la gestion de
            la production de provendes, la gestion de la production de fientes,
            la gestion du stock : matières premières et produits finis, la gestion
              des ventes et recouvrement puis l’édition des fiches de suivi.

					</p>
					<a href="https://waouhmonde.com/nos-publications/">Get Started <i class="fas fa-chevron-right"></i></a>
				</div>
      </section>


      <!-- Follow -->
      <section class="follow">
        <p>Follow Waouh Monde</p>
        <a href="https://www.facebook.com/waouhM/">
          <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com/in/adimou-olivier-amen-226a79ab/?trk=public_profile_browsemap&originalSubdomain=bj">
          <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/in/adimou-olivier-amen-226a79ab/?trk=public_profile_browsemap&originalSubdomain=bj">
          <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
      </section>
    </div>
      <!-- Links -->
      <section class="links">
        <div class="links-inner">
          <ul>
            <li><h3>What's New</h3></li>
            <li><a href="#">Xage Base plateforme</a></li>
            <li><a href="#"></a></li>
          </ul>
          <ul>
            <li><h3>Education</h3></li>
            <li><a href="#">Formations</a></li>
            <li><a href="#">Stage Center</a></li>
          </ul>
          <ul>
            <li><h3>Language</h3></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">...</a></li>
          </ul>
          <ul>
            <li><h3>Enterprise</h3></li>
            <li><a href="#">waouh Monde</a></li>
            <li><a href="#">...</a></li>
          </ul>
          <ul>
            <li><h3>Developer</h3></li>
            <li><a href="#">Gestion foncière</a></li>
            <li><a href="#">gestion pour cabinet d’avocats</a></li>
          </ul>
          <ul>
            <li><h3>Company</h3></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About waouh Monde</a></li>
          </ul>
        </div>
      </section>
<script type="text/javascript" src="{% static 'Database/scripts/script_hom.js' %}"></script>
{% endblock %}