{% extends "Database/Base_html.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Database/styles/style_pos.css' %}">
<div class="contact-container">
    <div class="contact-form">
        <div class="class1">
            <h1 class="article-title" style="color: #007bff;">Qui sommes-
                nous ?</h1>
            <p class="article-content">
                Mot exprimant le soulagement, la satisfaction, Waouh est la première expression qui sort 
                de la bouche de toute personne qui est sidérée par un événement ou un fait. Il est 
                sans limite de langue, de pays, de continent et est la réelle expression de la stupéfaction.
                 Depuis 2018 c’est la première expression qui sort de la bouche de nos clients après réception
                  de leurs commandes. 
            </p>
        </div>
        <div class="class1">
            <img src="{% static 'Database/images/monde.jpg' %}" alt="Bénin" width="100%" height="auto">
        </div>
    </div>
    <div class="contact-form">
        <div class="class1">
            <h1 class="article-title" style="color: #007bff;">Nos services</h1>
            <p class="article-content">
                Nos services
            </p>
        </div>
        <div class="class1">
            <img src="{% static 'Database/images/monde.jpg' %}" alt="" width="100%" height="auto">
        </div>
    </div>
    <div class="contact-form">
        <div class="class1">
            <h1 class="article-title" style="color: #007bff;">Notre équipe</h1>
            <p class="article-content">
                Pour toute question ou demande de renseignements, n'hésitez pas à nous contacter.
                Pour toute question ou demande de renseignements, n'hésitez pas à nous contacter.
                Pour toute question ou demande de renseignements, n'hésitez pas à nous contacter.
            </p>
        </div>
        <div class="class1">
            <img src="{% static 'Database/images/monde.jpg' %}" alt="" width="100%" height="auto">
        </div>
    </div>
    <div class="contact-form">
        <div class="class1">
            <h1 class="article-title" style="color: #007bff;">Nos publications</h1>
            <p class="article-content">
            Opportunité de formation no limit !!!
            16-01-2023
            Toute personne qui aspire à un rêve doit suivre une bonne formation
            et se mettre à jour constamment pour être performant, compétitif, 
            résilient et novateur. Grâce au partenariat 
            OpenClassrooms-Waouh Monde et son programme spécial Afrique...
            </p>
        </div>
        <div class="class1">
            <img src="{% static 'Database/images/monde.jpg' %}" alt="" width="100%" height="auto">
        </div>
    </div>
</div>    

<script type="text/javascript" src="{% static 'Database/scripts/script_pos.js' %}"></script>
{% endblock %}
